.FormComponent{
  width: 100%;
  padding-top: 126px;
  padding-bottom: 180px;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: var(--container-width);
  width: 100%;
}

@media (max-width: 1160px) {
  .FormComponent{
    padding-top: 48.7px;
    padding-bottom: 48px;
  }
  .container{
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 690px) {
  .FormComponent{
    padding-top: 80px;
    padding-bottom: 32px;
  }
}