.PartnersComponent{
  width: 100%;
  padding-top: 90px;
  padding-bottom: 106px;
}
.flex{
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: var(--container-width);
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.header{
  font-size: var(--h2-bold-font-size);
  letter-spacing: var(--h2-bold-letter-spacing);
  line-height: var(--h2-bold-line-height);
  font-weight: 700;
  min-width: 400px;
}
.clickWave{
}
.zyphronix{
}
.novaSphere{
  padding-right: 46px;
}


@media (max-width: 1160px) {
  .PartnersComponent{
    padding-top: 46px;
    padding-bottom: 73px;
  }
  .flex{
    display: flex;
    padding-left: 0;
    padding-right:0;
  }
  .header{
    min-width: 0;
    max-width: 140px;
  }
  .clickWave{
    width: 121.31px;
    height: 37.7px;
  }
  .zyphronix{
    width: 69.85px;
    height: 48.51px;
  }
  .novaSphere{
    width: 119.94px;
    height: 30.84px;
    padding-right: 18px;
  }

}
@media (max-width: 690px) {
  .PartnersComponent{
    padding-top: 60px;
    padding-bottom: 82px;
  }
  .flex{
    flex-wrap: wrap;
  }
  .header{
    min-width: 166px;
    max-width: 180px;
    margin-bottom: 24px;
  }
  .clickWave{
    width: 138.39px;
    height: 43px;
    margin-bottom: 12px;
  }
  .zyphronix{
    order:4;
    width: 84.64px;
    height: 58.78px;
    margin: 0 auto;
  }
  .novaSphere{
    order:3;
    width: 136.83px;
    height: 35.18px;
    padding-right: 15px;
    padding-left: 15px;
  }
}