.Menu {
  height: 100vh;
  padding-left: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letter-spacing);

  a {
    color: var(--black);
    cursor: pointer;

    &:hover {
      color: var(--orange);
    }

    &:active {
      color: var(--orange);
      text-decoration: underline;
    }
  }
}

.isInViewPort {
  a {
    color: var(--orange);
  }
}