.Header {
  margin-top: -31px;
  padding-top: 31px;
  position: fixed;
  background: none;
  z-index: 50;
  height: 65px;
  width: 100%;
  min-height: 84px;
}

.flex {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: var(--container-width);
  width: 100%;
  align-items: center;
  padding: 0 30px;
}

.logoLink {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 16px;
  outline: none;
  border: none;
  padding: 1px 47px;
  color: var(--black);
  font-size: 21.49px;
  font-weight: 900;
  line-height: 36.84px;
  letter-spacing: 0.77px;
  text-align: center;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 64px;
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letter-spacing);

  a {
    color: var(--black);
    cursor: pointer;

    &:hover {
      color: var(--orange);
    }

    &:active {
      color: var(--orange);
      text-decoration: underline;
    }
  }
}

.burger {
  display: none;
}

.dropShadow {
  box-shadow: 0 5px 5px 0 rgba(164, 173, 172, 0.25);
  backdrop-filter: blur(5px);
  background: rgba(232, 237, 238, 0.75);
  //background-color: var(--gray-3);
}

.isInViewPort {
  a{
    color: var(--orange);
  }

}