.AdvantagesComponent{
  padding-top: 110px;
  width: 100%;
  background-color: var(--gray-4);
  padding-bottom: 157px;
}
.container{
  margin: 0 auto;
  max-width: var(--container-width);
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.header{
  text-align: center;
  font-size: var(--h1-bold-font-size);
  letter-spacing: var(--h1-bold-letter-spacing);
  line-height: var(--h1-bold-line-height);
  font-weight: 700;
}
.advantages{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3px;
}
.advantage{
  padding: 32px;
  max-width: 300px;
}

.picture{
  margin-bottom: 20px;
}

.advHeader{
  font-size: var(--h2-bold-font-size);
  letter-spacing: var(--h2-bold-letter-spacing);
  line-height: var(--h2-bold-line-height);
  font-weight: 700;
  max-width: 180px;
}

.advText{
  margin-top: 16px;
  font-size: var(--body-text-2-font-size);
  letter-spacing: var(--body-text-2-letter-spacing);
  line-height: var(--body-text-2-line-height);
  max-width: 230px;
}

.linker{
  max-width: 560px;
}
.mobilePicture{
  display: none;
}

@media (max-width: 1160px) {
  .AdvantagesComponent{
    padding-top: 80px;
    padding-bottom: 74px;
  }
  .container{
    padding-left: 0;
    padding-right: 0;
  }
  .advantages{
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
  .advantage{
    padding: 24px;
    max-width: 300px;
  }

  .picture{
    height: 24px;
    width: 24px;
    margin-bottom: 19px;
  }

  .advHeader{
    max-width: 123px;
  }
  .linker{
    svg{
      max-height: 189px;
      max-width: 265px;
    }
  }
}
@media (max-width: 690px) {
  .desktopPicture{
    display: none;
  }
  .mobilePicture{
    display: block;
  }
  .AdvantagesComponent{
    padding-top: 42px;
    padding-bottom: 20px;
  }
  .advantages{
    margin-top: 31px;
    flex-direction: column;
    justify-content: center;
  }
  .advantage{
    padding: 24px;
    max-width: 288px;
  }
  .advHeader{
    max-width: 288px;
  }
}